@{
    ViewData["Title"] = "Secretariat";
    ViewData["LogOut"] = true;
}


<div class="aliniere_orizontal">

    <div class="vertical_card aliniere_vertical" style="margin-top:20%">
        <h1>Studenți</h1>
        <hr />
        <p class="text-muted">Editarea Studenților.</p>
        <img style="width:150px;height:auto;align-self:center;margin-bottom:25px;margin-top:35px" src="~/imagini_svg/profesor.svg" />
        <a style="margin-top:50px" class="btn btn-primary" asp-action="Student_UPT">Deschide</a>
    </div>

    <div class="aliniere_vertical vertical_card" style="margin-top:20%;margin-left:50px;margin-right:50px">
        <h1>Orar</h1>
        <hr />
        <p class="text-muted">Adăugarea Orarului.</p>
        <img style="width:150px;height:auto;align-self:center;margin-bottom:25px;margin-top:35px" src="~/imagini_svg/discipline.svg" />
        <a style="margin-top:50px" class="btn btn-primary" asp-action="Orar_UPT">Deschide</a>
    </div>

</div>